body {
    margin: 0;
    padding: 0;
    color: #777777;
    font-family: 'Arial', "Helvetica Neue", 'Helvetica', 'sans-serif';
}
div {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;    
}

a {
    color: #777777;
    padding: 0px 0px 0px 25px;
    text-decoration: none;
}

nav {
    padding: 25px 0px 25px 0px;
    float:right;
}

.linkDivide {
    padding-right:20px;
    border-right: 1px solid #777777;
}
.mainHeader {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    float: left;
    margin: 0;
}

#bioImg {
    padding: 20px 20px 20px 0px;
    float:left;
}

hr {
    margin: 0;
    padding: 0;
    clear: both;
}

.backImg {
    border-top: 2px solid #cccccc;
    clear:both;
    padding-bottom: 150px;
    height: auto;
    width: 100%;
    background-image: url("../images/full-bloom.png");
}

section {
    border: 2px solid;
    border-color: #dddddd;
    background-color: #ffffff;
    clear: both;
    width: 960px;
    margin: 0 auto;
}

.mainBody{
    padding: 10px;
    width: 930px;
}

.sectionHeaders {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    background-color:#ffffff;
    color: #4aaaa5;
}

textarea {
    resize: none;
}

input {
    width: 100px;
    padding: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
}

footer {
    border-top: 8px solid #4aaaa5;
    padding-top: 30px;
    text-align: center;
    color: #dddddd;
    background-color: #666666;
}

.portImg {
width: 250px;
height: 250px;
}

.portLink {

}

.portDiv {
    
}