body {
}
div {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;    
}

.mainHeader {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    float: left;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
    clear: both;
}

.backImg {
    height: 1000px;
    width: 100%;
    background-image: url("../images/full-bloom.png");
}

section {
    border: 1px solid;
    border-color: #dddddd;
    background-color: #ffffff;
    clear: both;
    width: 960px;
    margin: 0 auto;
}

.mainBody{
    padding: 10px;
    width: 930px;
}

.sectionHeaders {
    background-color:#ffffff;
    color: #4aaaa5;
}

textarea {
    resize: none;
}

input {
    width: 100px;
    padding: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
}